.GuidlineBullets
  padding 25px 0
  +from-width($sm)
    padding 70px 0
  &-content
    display grid
    +from-width($sm)
      grid-template-columns 2fr 8fr 2fr
  &-list
    +from-width($sm)
      column-count 2
      column-gap 5em
    &-element
      color $dark-blue
      line-height 1.64
      position relative
      padding-left 2em
      margin-bottom 9px
      +from-width($sm)
        margin-bottom 18px
      &:before
        content ''
        width 5px
        height 5px
        background-color $green
        position absolute
        left 0
        top .75em
