.ReportAbuse
  padding 35px 0
  background-color #FFF
  +from-width($sm)
    padding 70px 0
  &-content
    display grid
    +from-width($sm)
      grid-template-columns 2fr 8fr 2fr
  &-holder
    &-title
      font-size 30px
      color $dark-blue
      margin 0 0 21px 0
      line-height 1.41
      font-weight 500
      +from-width($sm)
        font-size 36px
        margin 0 0 42px 0
    &-subtitle
      font-size 22px
      color $dark-blue
      margin 0
      line-height 1.41
      font-weight 500
      margin 0 0 13px 0
      +from-width($sm)
        font-size 26px
        margin 0 0 27px 0
    &-text
      line-height 1.64
      color $dark-gray
      margin 0 0 19px 0
      +from-width($sm)
        margin 0 0 39px 0
      &.secondary
        color $dark-blue
