.StakingWorkflow
  padding 35px 0
  background-color #FFF
  +from-width($sm)
    padding 70px 0
  &-content
    margin-top 2em
    +from-width($sm)
      margin-top 4em
      column-count 2
      column-gap 5em
  &-step
    display inline-block
    margin-bottom 18px
    &-content
      display grid
      grid-template-columns 26px 1fr
      grid-gap 18px
    &-number
      width 26px
      height 26px
      overflow hidden
      border-radius 100%
      display flex
      justify-content center
      align-items center
      background-color $green
      line-height 1.52
      font-size 14px
      color #FFF
    &-text
      line-height 1.64
      color $dark-blue
