.LangSelector
  position relative
  display flex
  user-select none
  z-index 3
  &:hover
    cursor pointer
  &-selected
    line-height 1.05
    color $dark-gray
    padding 1em 13px
    text-transform capitalize
  &-list
    position absolute
    top 3em
    left 1.5em
    background #FFF
    color $dark-gray
    border-radius 5px
    list-style none
    margin 0
    padding 0
    box-shadow 2px 3px 4px 3px rgba(226,226,226,0.58)
    z-index 3
    max-height 75vh
    overflow scroll
    +from-width($md)
      max-height 70vh
      overflow scroll
    &.to-top
      top unset
      bottom 3em
    &-elem
      &-anchor
        padding .5em 1em
        display block
        transition all 150ms ease
        display flex
        min-width max-content
        text-transform capitalize
        text-decoration none
        color $dark-gray
        &:hover
          background $white
  &-flag
    margin-right .5em
    width 20px
