.Newsletter
  background-color $green
  padding 40px 0
  +from-width($md)
    padding 80px 0
  &-content
    display grid
    justify-content center
  &-text
    color #FFF
    font-size  24px
    font-weight 500
    line-height 1.05
    text-align  center
    margin 0 0 1em 0
    +from-width($md)
      font-size 36px
  &-form
    &-input
      width 100%
      box-sizing border-box
      background transparent
      color #FFF
      border none
      border-bottom solid 1px #FFF
      padding .5em
      text-align center
      &:focus
        outline none
    &-submit
      margin 2em auto 0 auto
      padding 0.75em 3em
      +from-width($md)
        padding 0.75em 4em
