.AirdropDescription
  padding 35px 0
  +from-width($sm)
    padding 70px 0
  &-content
    &-text
      line-height 1.64
      color $dark-blue
      font-size 14px
      +from-width($sm)
        font-size 1em
