body
  font-family $base-font
  background-color $white

figure
  margin 0

a
  color $primary-color
  font-weight 600
  text-decoration none

p
  margin 0

.container
  max-width 1024px
  margin 0 auto
  padding 0 1em
  +from-width($xs)
    max-width 540px
  +from-width($sm)
    max-width 720px
  +from-width($md)
    max-width 960px
  +from-width($xl)
    max-width 1140px

.no-padding
  padding 0

.no-margin
  margin 0

.is-first-content
  margin-top 120px

.btn
  background-color $primary-color
  text-align center
  padding .75em
  border-radius 4px
  font-weight 400
  color $white
  text-decoration none
  margin-bottom 1em
  display block
  float left
  &:hover
    box-shadow 0 14px 14px 0 rgba(29, 53, 77, 0.05)
