@import './normalize.styl'
@import './vars.styl'
@import './base.styl'

// Commons
@import './components/commons/Header.styl'
@import './components/commons/Footer.styl'
@import './components/commons/LangSelector.styl'
@import './components/commons/SectionHeading.styl'
@import './components/commons/RoadmapElement.styl'
@import './components/commons/SingleWallet.styl'
@import './components/commons/MiningElement.styl'
@import './components/commons/TeamMember.styl'
@import './components/commons/BlogPost.styl'
@import './components/commons/BuyMineBanner.styl'
@import './components/commons/Newsletter.styl'

// Home Page
@import './components/Home/Hero.styl'
@import './components/Home/InfoContent.styl'
@import './components/Home/Roadmap.styl'
@import './components/Home/WalletsContent.styl'
@import './components/Home/ExchangeList.styl'
@import './components/Home/MarketStatus.styl'
@import './components/Home/Mining.styl'
@import './components/Home/MiningPools.styl'
@import './components/Home/Team.styl'
@import './components/Home/BlogOverview.styl'
@import './components/Home/Community.styl'

// Smart Contracts Page
@import './components/SmartContracts/SmartHero.styl'
@import './components/SmartContracts/Description.styl'
@import './components/SmartContracts/SmartDetail.styl'
@import './components/SmartContracts/AuditorsCheck.styl'
@import './components/SmartContracts/CheckElement.styl'
@import './components/SmartContracts/SmartAuthor.styl'
@import './components/SmartContracts/FinalReport.styl'
@import './components/SmartContracts/DisclosurePolicy.styl'
@import './components/SmartContracts/OrderAudit.styl'

// Smart Contracts Page
@import './components/ColdStaking/StakingHero.styl'
@import './components/ColdStaking/StakingDescription.styl'
@import './components/ColdStaking/StakingInvestments.styl'
@import './components/ColdStaking/StakingHowWorks.styl'
@import './components/ColdStaking/StakingWorkflow.styl'
@import './components/ColdStaking/StakingLongStory.styl'

.ColdStaking
  .Header
    background-color #e9f7ff
