// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Sunflower:300,500,700');
$primary-font = 'Sunflower', sans-serif
$secondary-font = 'Roboto', sans-serif

// Color palette
$green = #34c88a
$white = #f2f6f6
$black = #222925
$orange = #ff876c
$light-green = #c0f5df
$light-gray = #c6cace
$light-orange = #ffd0c5
$dark-gray = #868d95
$dark-blue = #163f59

// Screen Breakpoints
$xs = 576px
$sm = 768px
$md = 992px
$xl = 1024px
$xxl = 1140px
$xxxl = 1400px
