@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,800|Open+Sans:300,400,400i,600,700,800');

$base-font = 'Open Sans', sans-serif
$secondary-font = 'Montserrat', sans-serif

$primary-color = #0199DB
$lavender = #706677
$dark = #263044
$orange = #FE5D26
$dark-blue = #334F6E
$gray = #E0E0E0
$white = #FFF
$blue = #0072BB
$green = #8FC93A
$yellow = #E4CC37

$xs = 576px
$sm = 768px
$md = 992px
$xl = 1024px
