.AuditsList
  padding 120px 0 25px 0
  &-content
    background-color #FFF
    box-shadow 0 0 14px 0 rgba(198,202,206,0.3)
    border-radius 4px
    padding 0
  &-table
    display grid
    &-head
      display grid
      grid-gap 1em
      grid-template-columns 1fr 1fr 1fr .5fr
      border-bottom solid 2px #efefef
      padding 1em
      user-select none
      &:hover
        cursor default
      &-elem
        color $dark-blue
        font-weight 500
    &-element
      display grid
      grid-gap 1em
      grid-template-columns 1fr 1fr 1fr .5fr
      padding 1em
      transition all 150ms ease
      position relative
      &:not(:last-child)
        border-bottom solid 2px #efefef
      &:hover
        background-color #f6f6f6
        cursor pointer
      &-item
        color $dark-blue
      &-anchor
        position absolute
        width 100%
        height 100%
        left 0
        top 0
