.SingleAudit
  padding 120px 1em 25px 1em
  +from-width($sm)
    padding 120px 0 25px 0
  &-content
    padding 1em
    +from-width($sm)
      padding 2em
  &-title
    font-size 24px
    margin 0
    text-align center
    +from-width($sm)
      font-size 36px
      font-weight 500
      line-height 1.05
      color $dark-blue
    &.is-subtitle
      font-size 20px
      +from-width($sm)
        font-size 25px
  &-divider
    width 40px
    border-color $green
    margin 23px auto
    border-style solid
  &-description
    line-height 1.52
    color $dark-gray
  &-details
    margin-top 2em
    display grid
    grid-gap 1em
    font-size 18px
    color $dark-blue
    +from-width($sm)
      grid-template-columns 1fr 1fr
  &-history
    margin-top 2em
    &-title
      font-size 20px
      margin 0
      +from-width($sm)
        font-size 30px
        font-weight 500
        line-height 1.05
        color $dark-blue
    &-elements
      display grid
      margin-top 1em
    &-element
      margin 1em 0
      &-count
        margin-right 1em
        background-color $green
        border-radius 100%
        color #FFF
        padding .25em .6em
      &-author
        color $dark-gray
      &-description
        line-height 1.52
        padding 1em 0
        color $dark-gray
