@import './normalize.styl'
@import './vars.styl'
@import './base.styl'

// Commons
@import './components/commons/Header.styl'
@import './components/commons/Footer.styl'
@import './components/commons/LangSelector.styl'
@import './components/commons/SectionHeading.styl'
@import './components/commons/RoadmapElement.styl'
@import './components/commons/SingleWallet.styl'
@import './components/commons/MiningElement.styl'
@import './components/commons/TeamMember.styl'
@import './components/commons/BlogPost.styl'
@import './components/commons/BuyMineBanner.styl'
@import './components/commons/Newsletter.styl'

// Home Page
@import './components/Home/Hero.styl'
@import './components/Home/InfoContent.styl'
@import './components/Home/Roadmap.styl'
@import './components/Home/WalletsContent.styl'
@import './components/Home/ExchangeList.styl'
@import './components/Home/MarketStatus.styl'
@import './components/Home/Mining.styl'
@import './components/Home/MiningPools.styl'
@import './components/Home/Team.styl'
@import './components/Home/PartnersList.styl'
@import './components/Home/BlogOverview.styl'
@import './components/Home/Community.styl'

// Smart Contracts Page
@import './components/SmartContracts/SmartHero.styl'
@import './components/SmartContracts/Description.styl'
@import './components/SmartContracts/SmartDetail.styl'
@import './components/SmartContracts/AuditorsCheck.styl'
@import './components/SmartContracts/CheckElement.styl'
@import './components/SmartContracts/SmartAuthor.styl'
@import './components/SmartContracts/FinalReport.styl'
@import './components/SmartContracts/DisclosurePolicy.styl'
@import './components/SmartContracts/OrderAudit.styl'
@import './components/SmartContracts/Testimonials.styl'
@import './components/SmartContracts/OrderAuditModal.styl'

// Smart Contracts Page
@import './components/ColdStaking/StakingHero.styl'
@import './components/ColdStaking/StakingDescription.styl'
@import './components/ColdStaking/StakingInvestments.styl'
@import './components/ColdStaking/StakingHowWorks.styl'
@import './components/ColdStaking/StakingWorkflow.styl'
@import './components/ColdStaking/StakingLongStory.styl'

// Finantial Report page

@import './components/FinantialReport/FinantialHero.styl'
@import './components/FinantialReport/FinantialTable.styl'

// AirdropHero page

@import './components/Airdrop/AirdropHero.styl'
@import './components/Airdrop/AirdropDescription.styl'

// Blog page

@import './components/Blog/PostsList.styl'
@import './components/Blog/BlogTags.styl'
@import './components/Blog/PostDetails.styl'

// Community Guidline
@import './components/CommunityGuidlines/GuidlineHead.styl'
@import './components/CommunityGuidlines/GuidlineBullets.styl'
@import './components/CommunityGuidlines/ReportAbuse.styl'

// Audits Admin
@import './components/AuditsAdmin/AuditsList.styl'
@import './components/AuditsAdmin/SingleAudit.styl'
@import './components/AuditsAdmin/AuthSection.styl'

// FAQ
@import './components/Faq/FaqContent.styl'

// Buy
@import './components/Buy/BuyHero.styl'
@import './components/Buy/BuyContent.styl'

.ColdStaking
  .Header
    background-color #e9f7ff

.NotFound
  text-align center
  padding 100px 0 25px 0
  +from-width($sm)
    padding 125px 0 45px 0
  +from-width($md)
    padding 200px 0 100px 0
  h1
    color $green
    font-size 90px
    margin 20px 0
    +from-width($sm)
      font-size 180px
  h4
    color $dark-blue
    font-size 32px
  h5
    color $dark-blue
    font-size 24px
    a
      color $green
