.BlogPost
  width 100%
  overflow hidden
  &-cover
    background-position center
    background-size cover
    height 200px
  &-info
    padding 30px
    display grid
    &-title
      margin 0
      color $dark-blue
      font-size 18px
      font-weight 500
      +from-width($md)
        font-size 22px
    &-date
      margin .5em 0
      color $dark-gray
      font-size 14px
      display block
    &-description
      line-height 1.64
      color $dark-gray
      margin-bottom 15px
      +from-width($md)
        margin-bottom 30px
    &-link
      color $green
      line-height 1.52
      text-decoration none
      .fa-long-arrow-alt-right
        margin-left .5em
