.MiningElement
  +from-width($sm)
    padding 0 2em
  +from-width($md)
    padding 0 3em
  &-title
    font-size 20px
    color $dark-blue
    margin 0
  &-content, &-description
    font-size 20px
    line-height 1.05
    +from-width($md)
      font-size 32px
  &-content
    color $orange
    margin 8px 0
  &-description
    color $dark-gray
    font-weight 400
    margin 0
