.Roadmap
  padding 40px
  +from-width($sm)
    padding 80px
  &-content
    +from-width($sm)
      display grid
      justify-content center
      grid-template-columns 100%
    +from-width($xl)
      grid-template-columns 70%
    &-list
      margin 50px 0
      +from-width($sm)
        margin 70px 0
      &-future
        border-bottom solid 2px $light-gray
        border-left solid 2px $light-gray
        padding 1em 3em
        display grid
        grid-gap 2em
        +from-width($sm)
          grid-template-columns 1fr 1fr
          padding 1em 5em
        &-elem
          display grid
          grid-gap .5em
          +from-width($sm)
            grid-template-columns 1fr 2fr
        &-title
          margin 0
          font-size 24px
          color $orange
        &-text
          color $dark-blue
          line-height 1.64
      &-element
        padding 1em 0
        position relative
        border-left solid 2px $light-gray
        +from-width($sm)
          padding 1em 3em
        &:before
          position absolute
          content ''
          width 10px
          left 0
          top 0
          height 2px
          background-color $light-gray
        &-container
          margin 32px 0
        &-figure
          position absolute
          top -50px
          left 0
        &-title
          font-size 24px
          line-height 1.52
          color $orange
          margin 2em 1em 0 1em
        &-container
          list-style-type none
          li
            position relative
            &:before
              content '▪'
              color $orange
              position absolute
              left -1em
        &-text
          color $dark-blue
          line-height 1.64
          padding .5em 0
        &.green-element
          border-left solid 2px $green
          &:before
            background-color $green
          .Roadmap-content-list-element-container
            li
              position relative
              &:before
                color $green
          .Roadmap-content-list-element-title
            color $green
          .Roadmap-content-list-element-figure
            top -38px
          .Roadmap-content-list-element-text
            color $dark-gray
          .Roadmap-content-list-element-subcontainer
            list-style-type none
            margin-top 1em
            li
              position relative
              &:before
                content '-'
                color $green
                position absolute
                left -1em
