.SectionHeading
  &-title
    font-size 24px
    margin 0
    text-align center
    +from-width($sm)
      font-size 36px
      font-weight 500
      line-height 1.05
      color $dark-blue
    &.is-subtitle
      font-size 20px
      +from-width($sm)
        font-size 25px
  &-divider
    width 40px
    border-color $green
    margin 23px auto
    border-style solid
  &-text
    text-align center
    line-height 1.52
    color $dark-gray
