.WalletsContent
  background-color #FFF
  padding 40px 0
  +from-width($sm)
    padding 80px
  &-list
    display grid
    grid-gap 15px
    margin-top 25px
    +from-width($sm)
      grid-template-columns 1fr 1fr
    +from-width($md)
      margin-top 50px
      grid-template-columns 1fr 1fr 1fr
      grid-gap 30px
