.About
  padding 2em 1em 1em 1em !important
  &-title
    font-family $secondary-font
    margin 0
    font-size 28px
  &-container
    display grid
    +from-width($md)
      grid-template-columns 1fr 1fr 1fr
    grid-gap 1em
  &-element
    padding .5em
    display grid
    grid-gap 1em
    grid-template-rows 50px 2em 1fr
    &-title
      margin 0
      font-size 18px
      text-align center
      align-self center
      color $primary-color
      font-family $secondary-font
    &-icon
      font-size 48px
      margin 0 auto
      color $primary-color
    &-description
      font-size 1em
      text-align center
