.Airdrop
  padding 2em 1em !important
  &-title
    font-family $secondary-font
    margin 0
    font-size 28px
  &-pharagraph
    +from-width($md)
      font-size 18px
  &-anchor
    font-weight 600
    text-decoration none
    color $primary-color
    line-height 2
