.Exchanges
  padding 2em 1em !important
  background-color rgba(246, 246, 246, 0.59)
  &-title
    font-family $secondary-font
    margin 0
    font-size 28px
  &-subtitle
    font-size 1em
  &-list
    display grid
    grid-template-columns 1fr 1fr
    grid-gap 1em
    +from-width($md)
      grid-template-columns 1fr 1fr 1fr 1fr
    &-element
      border-radius 4px
      text-align center
      color $white
      font-weight 600
      text-decoration none
      position relative
      display flex
      justify-content center
      &-anchor
        position absolute
        width 100%
        height 100%
        top 0
        left 0
      &-figure
        height 100px
        align-self center
        img
          height 100%
