.FirstSection
  box-sizing border-box
  display flex
  justify-content center
  &-content
    display grid
    align-items center
    grid-gap 1em
    padding 1em 1em !important
    z-index 0
    +from-width($md)
      grid-template-columns 2fr 1fr
  &-title
    font-family $secondary-font
    text-align center
    margin 0
    font-size 2em
    color $white
  &-description
    margin 1em 0
    text-align center
    color $white
    font-weight 200
    +from-width($md)
      font-size 20px
  &-form
    display grid
    grid-gap .5em
    margin-top 1em
    &-container
      justify-self center
      align-self center
      padding 1em
      border-radius 5px
      background-color $white
      box-shadow 0 14px 14px 0 rgba(29, 53, 77, 0.06)
      max-width 300px
      width 100%
    &-title
      font-family $secondary-font
      margin 0
    &-input
      outline none
      padding .5em
      border-radius 3px
      border solid 1px $gray
      width 100%
      box-sizing border-box
      &:focus
        border solid 1px $blue
    &-submit
      color $white
      background-color $blue
      outline none
      border none
      padding .5em 1em
      border-radius 3px
      &:hover
        cursor pointer
  &-btns
    display flex
    justify-content center
    &-anchor
      display block
      padding .5em 1em
      border-radius 5px
      text-decoration none
      background $white
      color $blue
      transition all 350ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
    &-blue
      display block
      padding .5em 1em
      margin-left 1em
      border-radius 5px
      text-decoration none
      background $blue
      color $white
      transition all 350ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
      // &:hover
      //   background $blue
      //   color $white

.homepage-hero-module
  border-right none
  border-left none
  position relative
  +from-width($md)
    margin-top 87px
    height 50vh
  +from-width($xl)
    margin-top 87px
    height 55vh
  +from-width(1200px)
    height 75vh
.no-video .video-container video,
.touch .video-container video
  display none

.no-video .video-container .poster,
.touch .video-container .poster
    display block !important

.video-container
    position relative
    bottom 0%
    left 0%
    height 100%
    width 100%
    overflow hidden
    background #000
    display grid

.video-container .poster img
    width 100%
    bottom 0
    position absolute

.video-container .filter
    z-index 100
    position absolute
    background rgba(0, 0, 0, 0.4)
    width 100%

.video-container video
    position absolute
    z-index 0
    top 0
    width 315%
    +from-width($xl)
      width 200%
    +from-width(1200px)
      width 100%
