@import './vars.styl'
@import './normalize.styl'
@import './Header.styl'
@import './FirstSection.styl'
@import './MainetBanner.styl'
@import './Airdrop.styl'
@import './About.styl'
@import './Exchanges.styl'
@import './Team.styl'
@import './Wallets.styl'
@import './PoolSupport.styl'
@import './BlockExplorers.styl'
@import './Partners.styl'
@import './ClientsDownloads.styl'
@import './FinantialReportBanner.styl'

body
  font-family 'Open Sans', sans-serif
  background-color $dark
  color $white

figure
  margin 0

.center-anchor
  display block
  text-align center

.particles-js-canvas-el
  position absolute
  z-index -1
  width 98vw !important
  box-sizing border-box
  left 0
  top 0

.title
  font-size 20px
  +from-width($sm)
    font-size 24px

.pharagraph
  line-height 1.5
  margin 0
  +from-width($sm)
    line-height 1.7

.anchor
  color $primary-color
  font-weight 600
  text-decoration none

.container
  margin 0 auto
  padding 0 1em
  +from-width(576px)
    max-width 540px
  +from-width(768px)
    max-width 720px
  +from-width(992px)
    max-width 960px
  +from-width(1200px)
    max-width 1140px

.Footer
  background-color $dark
  padding 3em 0
  color $white
  &-content
    display grid
    align-items center
    grid-gap 1em
    +from-width($md)
      grid-template-columns 1fr 1fr
  &-icons-container
    +from-width($md)
      justify-self flex-end
    i
      font-size 28px
      margin 0 .25em
  a
    color $white
