.MainetBanner
  padding 2em 0
  background-color rgb(246, 246, 246)
  &-mainnet
    &-content
      display flex
      flex-direction column
      justify-content center
      align-items center
      +from-width($md)
        flex-direction row
    &-title
      margin 0
      font-family $secondary-font
      font-size 24px
    &-countdown
      font-size 28px
      margin-top .5em
      +from-width($md)
        margin-top 0
        margin-left 1em
