.Description
  padding 35px 0
  background-image url('/image/smart-contracts/background_smart.svg')
  background-repeat no-repeat
  background-size contain
  background-position-y 1em
  +from-width($sm)
    padding 70px 0
  &-content
    display grid
    grid-gap 5em
    margin-bottom 5em
  &-row
    display grid
    grid-gap 1em
    &.left-row
      +from-width($sm)
        grid-template-columns 8fr 4fr
    &.right-row
      +from-width($sm)
        grid-template-columns 4fr 8fr
    &-info
      position relative
      &:before
        content ''
        width 20px
        height 2px
        background-color $green
        position absolute
        left -40px
        top 18px
      &-title
        font-size 22px
        font-weight 500
        line-height 1.41
        color $dark-blue
        margin 0 0 30px 0
        +from-width($sm)
          font-size 26px
          margin 0 0 40px 0
      &-text
        line-height 1.64
        color $dark-blue
        font-size 14px
        +from-width($sm)
          font-size 1em
      &-subtitle
        color $orange
        font-size 16px
        line-height 1.52
        padding-left 2em
        margin 20px 0
        +from-width($sm)
          padding-left 5em
          font-size 20px
          margin 50px 0
  &-autdit
    display grid
    justify-content center
    margin-top 2em
    +from-width($sm)
      grid-template-columns 600px
    &-text
      line-height 1.64
      color $dark-blue
