.OrderAudit
  background-color #FFF
  padding 35px 0
  +from-width($sm)
    padding 70px 0
  &-btn
    display flex
    align-items center
    justify-content center
    .btn
      padding 1em 3em
      line-height 1.41
