.SmartAuthor
  padding 70px 0 35px 0
  background $white
  margin-top -40px
  +from-width($md)
    padding 140px 0 70px 0
    margin-top -120px
  &-head
    +from-width($md)
      width 65%
      margin 0 auto
