.BuyHero
  background #FFF
  padding 125px 0 25px 0
  +from-width($sm)
    padding 125px 0
  +from-width($md)
    padding 275px 0 120px 0
  &-content
    display grid
    +from-width($sm)
      grid-template-columns 1.5fr 2fr
    &-left
      &-title
        margin 0
        font-size 22px
        font-family $primary-font
        color $dark-blue
        +from-width($md)
          font-size 44px
    &-right
      display none
      +from-width($sm)
        display block
        position relative
      &-figure
        z-index 0
        +from-width($sm)
          position absolute
          top -85px
          left -65px
          width 400px
        +from-width($md)
          top -200px
          left -65px
          width 500px
        +from-width($xl)
          top -14px
          top -200px
          width 680px
        +from-width($xxl)
          top -240px
          left -120px
          width 800px
        img
          width 100%
