.BlogTags
  padding 128px 0 28px 0
  +from-width($md)
    padding 127px 0 28px 0
  &-content
    display grid
    grid-template-columns .5fr 8fr .5fr
    justify-content center
    +from-width($sm)
      grid-template-columns 2fr 8fr 2fr
  &-topics
    &-title
      color $orange
      line-height 1.52
      font-size 16px
      +from-width($sm)
        font-size 18px
    &-elem
      font-size 18px
      line-height 1.52
      color $dark-gray
      padding .25em .5em
      text-decoration none
      +from-width($sm)
        font-size 18px
      &:hover
        color $green
      &.is-selected
        color $dark-blue
