.PostDetails
  padding-top 1em
  background-color #FFF
  &-share
    display none
    +from-width($md)
      display grid
      grid-gap 1em
      justify-content center
      position fixed
      top 225px
    &-btn
      display block
      padding 10px 11px
      color #fff
      background-color $green
      text-align center
      border-radius 23px
  &-content
    display grid
    grid-gap 1em
    +from-width($sm)
      display grid
      grid-template-columns .5fr 8fr .5fr
      justify-content center
    +from-width($md)
      grid-template-columns 2fr 8fr 2fr
    .Post-description
      img
          margin .5em 0
          width 100%
          height auto
      h2
        font-size 26px
        color $dark-blue
        line-height 1.41
      p
        margin-bottom 1em
        +from-width($md)
          margin-bottom 2em
      a
        word-break break-word
        text-decoration none
      ul
        list-style-type none
        li
          position relative
          margin-bottom 1em
          &:before
            content ''
            width 15px
            height 2px
            background-color $green
            position absolute
            left -2em
            top .75em
      ol
        list-style none
        counter-reset li
        li
          position relative
          counter-increment li
          margin-bottom 1em
          &:before
            content counter(li)
            color $green
            position absolute
            left -2em
  &-related
    padding 2em 0
    display grid
    border-top solid 1px #F2F2F2
    grid-gap 1em
    +from-width($md)
      grid-template-columns 1fr 1fr
    .RelatedPost
      display grid
      grid-template-rows 40px 1fr
      +from-width($md)
        grid-template-rows 60px 1fr
      &-anchor
        text-decoration none
      &-title
        color $dark-blue
        line-height 1.41
        font-weight 500
        margin 0
        +from-width($md)
          font-size 22px
      &-description
        color $dark-gray
        margin-top 19px
        line-height 1.64
