// Import Bulma's core
@import "../../node_modules/bulma/sass/utilities/all";

// Set your colors
$primary: #32ba7f;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
      "white": (
        $white,
        $black,
      ),
      "black": (
        $black,
        $white,
      ),
      "light": (
        $light,
        $light-invert,
      ),
      "dark": (
        $dark,
        $dark-invert,
      ),
      "primary": (
        $primary,
        $primary-invert,
        $primary-light,
        $primary-dark,
      ),
      "link": (
        $link,
        $link-invert,
        $link-light,
        $link-dark,
      ),
      "info": (
        $info,
        $info-invert,
        $info-light,
        $info-dark,
      ),
      "success": (
        $success,
        $success-invert,
        $success-light,
        $success-dark,
      ),
      "warning": (
        $warning,
        $warning-invert,
        $warning-light,
        $warning-dark,
      ),
      "danger": (
        $danger,
        $danger-invert,
        $danger-light,
        $danger-dark,
      ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Navbar

@media screen and (min-width: 1024px) {
  .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: #00CA55 !important;
  }
}

.navbar-link-color, .navbar-link-color a.navbar-item, .navbar-link-color a.navbar-link{
  color: #01411C !important;
  font-weight: bold;
}

.navbar-link-color .navbar-link:not(.is-arrowless)::after {
  border-color: #01411C !important;
}

// Images

.featured-column {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.featured-img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  margin: auto;
}

.featured-img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

// Import Bulma and Buefy styles
@import "bulma";
@import "../../node_modules/buefy/src/scss/buefy";
