body
  font-family $secondary-font
  background-color $white
  font-size 1em

figure
  margin 0

p
  margin 0

.container
  max-width 1024px
  margin 0 auto
  padding 0 1em
  +from-width($xs)
    max-width 540px
  +from-width($sm)
    max-width 720px
  +from-width($md)
    max-width 960px
  +from-width($xl)
    max-width 1140px

.no-padding
  padding 0

.no-margin
  margin 0

.btn
  border-radius 8px
  padding .75em 2em
  font-family $secondary-font
  text-transform uppercase
  display block
  text-align center
  font-weight bold
  line-height 1.41
  color #FFF
  text-decoration none
  max-width max-content
  transition all 150ms ease
  &:hover
    box-shadow .5em .5em 10px 0px rgba(226, 226, 226, 0.58)
  &-blue
    background-color $dark-blue
  &-green
    background-color $green
  &-transparent
    &-green
      border solid 1px $green
      color $green
      background-color transparent
      &:hover
        color #FFF
        background-color $green

.square
  border-radius 8px
  box-shadow 0 0 14px 0 rgba(198, 202, 206, 0.3);
  background-color #FFF
