.FinantialTable
  padding 35px 0
  +from-width($sm)
    padding 70px 0
  &-address
    text-align center
    line-height 1.52
    color $dark-gray
    &-text
      color $orange
  &-frame
    width 100%
    height 300px
    margin-top 30px
    +from-width($sm)
      height 800px
