.Advisors
  padding 40px
  +from-width($sm)
    padding 80px 0
  &-list
    display flex
    justify-content center
    margin-top 45px
    flex-direction column
    +from-width($md)
      flex-direction row
      margin-top 90px
      grid-gap 30px
