.Community
  padding 40px 0
  background-color #FFF
  +from-width($sm)
    padding 80px 0
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)
    justify-items center
    grid-gap 15px
    padding-top 1em
    +from-width($sm)
      grid-gap 30px
      grid-template-columns repeat(3, 1fr)
      padding-top 2em
    +from-width($md)
      grid-template-columns repeat(10, 1fr)
    &-element
      color $light-gray
      text-decoration none
      display grid
      grid-gap 1em
      justify-items center
      transition all 150ms ease
      &:hover
        color $green
        .Community-list-element-text
          color $green
      i
        font-size 2em
        +from-width($sm)
          font-size 3.6em
      &-text
        color $dark-gray
        font-size 13px
        line-height 1.64
        transition all 150ms ease
        text-align center
      &-figure
        width 45px
        +from-width($sm)
          width auto
        img
          width 100%
