.Hero
  background #FFF
  padding 100px 0 25px 0
  +from-width($sm)
    padding 120px 0 45px 0
  +from-width($md)
    padding 130px 0 60px 0
  +from-width($xxl)
    padding 120px 0 180px 0
  +from-width($xxxl)
    padding 180px 0
  &-btns
    display grid
    grid-gap 1em
    +from-width($sm)
      grid-template-columns 1fr 1fr 1fr
      justify-items center
      align-items center
      font-size 14px
  &-content
    display grid
    +from-width($sm)
      grid-template-columns 2.2fr 2fr
    &-left
      &-title
        margin 0
        font-size 22px
        font-family $primary-font
        color $dark-blue
        +from-width($md)
          font-size 44px
      &-description
        margin-top 20px
        margin-bottom 20px
        line-height 1.65
        color $dark-gray
        font-size 15px
        +from-width($sm)
          margin-top 41px
          margin-bottom 34px
    &-right
      display none
      +from-width($sm)
        display block
        position relative
      &-figure
        position absolute
        top -45px
        width 100%
        z-index 0
        +from-width($xl)
          top -100px
        +from-width($xxl)
          top auto
          bottom -100px
          width 100%
