.HowWorks
  display grid
  background-color #FFF
  padding 0
  &-content
    width 100%
    box-sizing border-box
  &-video
    margin-top 1rem
    width 100%
    box-shadow 0 2px 12px 0 rgba(198, 202, 206, 0.4)
    +from-width($xl)
      width 771px
      margin 2em auto 0 auto
  &-exchanges
    position relative
    margin-top 2rem
    &-left
      display grid
      grid-gap 1rem
      grid-template-columns 1fr 1fr
      justify-items center
      align-items center
      +from-width($md)
        grid-template-columns 1fr 1fr 1fr
      +from-width($xl)
        margin-bottom 0
        grid-gap 1rem
        grid-template-columns unset
        justify-items unset
        align-items unset
        position absolute
        top 15%
        left 0
      .HowWorks-exchanges-content-figure
        +from-width($xl)
          &:nth-child(1)
            display none
          &:nth-child(2)
            margin-left 12rem
            height 110px
          &:nth-child(3)
            margin-left 2rem
            height 70px
          &:nth-child(4)
            margin-left 3rem
          &:nth-child(5)
            margin-left 10rem
        &:nth-child(1)
          width 150px
          height unset
          img
            width 100%
            height unset
        &:nth-child(2)
          height 110px
        &:nth-child(3)
          height 70px
        &:nth-child(4)
          height 50px
        &:nth-child(5)
          height 30px
    &-right
      display grid
      grid-gap 1rem
      grid-template-columns 1fr 1fr
      align-items center
      margin-top 2rem
      +from-width($md)
        margin-top 0
        grid-template-columns 1fr 1fr 1fr
      +from-width($xl)
        align-items unset
        grid-gap 4rem
        grid-template-columns unset
        position absolute
        top 15%
        right 0
      .HowWorks-exchanges-content-figure
        &:nth-child(1)
          height 90px
        &:nth-child(2)
          height 50px
        &:nth-child(3)
          height 50px
        +from-width($xl)
          &:nth-child(1)
            margin-left -4rem
          &:nth-child(2)
            margin-left 16rem
          &:nth-child(3)
            margin-left 14rem
    &-content
      &-figure
        height 60px
        justify-self center
        +from-width($xl)
          justify-self unset
        img
          height 100%
  &-step
    margin-top 3rem
    &.last
      margin-bottom -3rem
    &-content
      position relative
      &-figure
        margin 0 auto
        width 100%
        user-select none
        display none
        +from-width($xl)
          display block
          width 800px
        img
          width 100%
  &-pricing
    display grid
    justify-items center
    grid-gap 1rem
    border-radius 8px
    user-select none
    +from-width($sm)
      padding-left 9em
      margin-top 25px
    +from-width($md)
      margin-top 4rem
      grid-template-columns 1fr 1fr 1fr
      grid-gap 1rem
      padding-left 0
      justify-items flex-start
      box-shadow 0 2px 12px 0 rgba(198, 202, 206, 0.4)
      padding 1rem
    &-element
      display grid
      grid-template-columns 35px 5fr
      grid-gap .5em
      justify-self flex-start
      +from-width($md)
        justify-self unset
        grid-template-columns 100px 4fr
      &-icon
        justify-self center
        align-self center
        font-size 20px
        color $green
        +from-width($sm)
          font-size 30px
      &-details
        display grid
        grid-gap .5em
      &-title
        color $dark-blue
        font-weight bold
        font-size 22px
      &-dollarPrice
        line-height 1.05
        color $dark-blue
        font-weight bold
        font-size 34px
      &-symbol
        line-height 1.05
        color $green
        +from-width($sm)
          font-size 44px
      &-btcPrice
        color $dark-gray
        line-height 1.64
  &-nextRelease
    display none
    +from-width($xl)
      padding 1rem
      display block
      position absolute
      left 37%
      font-size 24px
    .HowWorks
      &-exchanges
        &-content
          &-figure
            width 250px
            height unset
            a
              width 100%
              img
                width 100%
