.MarketStatus
  background-color $green
  padding 40px 0
  +from-width($sm)
    padding 80px 0
  .SectionHeading
    &-title
      color $dark-blue
    &-text
      color $light-green
    &-divider
      border-color $light-green
  &-pricing
    display grid
    justify-items center
    margin-top 25px
    padding-left 2em
    +from-width($sm)
      padding-left 9em
    +from-width($md)
      margin-top 50px
      grid-template-columns 1fr 1fr
      grid-gap 1rem
      padding-left 0
      justify-items flex-start
    &-element
      display grid
      grid-template-columns 35px 5fr
      grid-gap .5em
      justify-self flex-start
      +from-width($md)
        justify-self unset
        grid-template-columns 100px 4fr
      &-icon
        justify-self center
        align-self center
        font-size 20px
        color #FFF
        +from-width($sm)
          font-size 30px
      &-details
        display grid
        grid-gap .5em
      &-title
        color #FFF
        font-size 18px
        font-weight bold
        +from-width($sm)
          font-size 20px
      &-dollarPrice
        line-height 1.05
        color $dark-blue
        font-size 22px
        font-weight bold
        +from-width($sm)
          font-size 44px
      &-symbol
        line-height 1.05
        color $light-green
        font-size 22px
        +from-width($sm)
          font-size 44px
      &-btcPrice
        color $light-green
        line-height 1.64
