.MiningPools
  padding 40px 0
  background-color $white
  +from-width($sm)
    padding 80px 0
  &-list
    display grid
    grid-gap 15px
    margin-top 20px
    margin-bottom 45px
    justify-items center
    grid-template-columns repeat(1, 1fr)
    padding 1em
    +from-width($sm)
      grid-gap 20px
      grid-template-columns repeat(3, 1fr)
      margin-bottom 90px
    +from-width($md)
      grid-template-columns repeat(4, 1fr)
    +from-width($xl)
      padding 0 1em
      grid-template-columns repeat(5, 1fr)
    .btn
      min-width 100%
      box-sizing border-box
      padding 0.75em 0
  &-explorers
    display flex
    justify-content center
    padding 1em
    .btn
      box-sizing border-box
      padding 0.75em 0
      +from-width($md)
        min-width 295px
