.PartnersList
  padding 40px 0
  background-color #FFF
  +from-width($sm)
    padding 80px 0
  &-content
    display grid
    grid-gap 15px
    margin-top 20px
    justify-items center
    grid-template-columns repeat(1, 1fr)
    padding 1em
    +from-width($sm)
      grid-gap 20px
      grid-template-columns repeat(3, 1fr)
    +from-width($md)
      grid-template-columns repeat(4, 1fr)
    &-figure
      width 150px
      align-self center
      justify-self center
      img
        width 100%
