html,
body {
    margin: 0;
    padding: 0;
}

.slick-slider {
    justify-content: center;
    align-items: center;
    .slick-slide {
        text-align: center;
    }
    .slick-dots {
        position: absolute;
        bottom: 50px;
        width: 83%;
        text-align: right;
        height: 0px;
        @media screen and (max-width: 1100px) {
            width: 90%;   
        }
        
        @media screen and (max-width: 1100px) {
            width: calc(100% - 20px);   
            bottom: 20px;
        }
        @media screen and (max-width: 768px) {
            bottom: 40px;
        }
        
    }
    .slick-dots li button:before{
        font-size: 10px;
        color: #FFF;
        @media screen and (max-width: 1100px) {
            
        }
    }
    &:hover {
        cursor: pointer;
    }
    // ::before {
    //     font-size: 40px;
    //     margin-left: -3px;
    // }
}
