.AuditorsCheck
  background-color #FFF
  padding 35px 0
  +from-width($sm)
    padding 70px 0
  &-holder
    display grid
    grid-gap 15px
    margin-top 60px
    +from-width($sm)
      grid-gap 30px
      grid-template-columns 1fr 1fr 1fr
