.CheckElement
  display grid
  justify-items center
  width 100%
  padding 30px
  box-sizing border-box
  grid-gap 15px
  &-figure
    height 80px
    align-self center
    img
      height 100%
  &-text
    align-self flex-start
    text-align center
