.DisclosurePolicy
  background-color $green
  padding 35px 0
  position relative
  +from-width($sm)
    padding 70px 0
  &-badge
    display flex
    justify-content center
    align-items center
    width 50px
    height 100px
    background-color $orange
    border-radius 4px 4px 0 0
    position absolute
    top -2em
    right 5%
    +from-width($xs)
      right 10%
    +from-width($md)
      right 25%
      width 70px
      height 130px
    &:before
      content ''
      border-top solid 35px transparent
      border-right solid 35px transparent
      border-bottom solid 15px $green
      border-left solid 35px transparent
      position absolute
      bottom 0

  &-title
    +from-width($sm)
      width 60%
      margin 0 auto
    .SectionHeading-title, .SectionHeading-text
      color #FFF
    .SectionHeading-text
      line-height 1.64
      font-weight 300
    .SectionHeading-divider
      border-color #FFF
