.FinalReport
  background-color #FFF
  padding 35px 0
  +from-width($sm)
    padding 70px 0
  &-title
    +from-width($sm)
      width 60%
      margin 0 auto
  &-text
    margin 20px auto 0 auto
    line-height 1.64
    color $dark-blue
    +from-width($sm)
      width 60%
      margin 40px auto 0 auto
