.Testimonials
  padding 35px 0
  background-image url('/image/smart-contracts/background_smart.svg')
  background-repeat no-repeat
  background-size contain
  background-position-y 1em
  +from-width($md)
    padding 70px 0
  &-content
    display grid
    grid-gap 2em
    +from-width($md)
      max-width 65%
      margin 0 auto
      grid-gap 4em
      grid-template-columns 1fr 1fr
  &-element
    display grid
    grid-gap 1em
    grid-template-columns 1fr 1fr
    align-items center
    justify-items center
    padding 2em
    &:hover
      cursor default
    &-title
      color $dark-blue
      font-size 20px
    &-description
      color $orange
      font-size 36px
      font-weight 500
