.BlogOverview
  padding 40px 0
  background-color #FFF
  +from-width($sm)
    padding 80px 0
  &-title
    text-align center
    color $dark-blue
    line-height 1.05
    font-size 24px
    font-weight 500
    +from-width($sm)
      font-size 36px
  &-list
    display grid
    grid-gap 15px
    justify-items center
    +from-width($sm)
      grid-template-columns 1fr 1fr
    +from-width($md)
      grid-template-columns 1fr 1fr 1fr
