.Mining
  background-color #FFF
  padding 40px 0
  +from-width($sm)
    padding 40px 0 50px 0
  &-cta
    margin 25px auto 45px auto
    +from-width($md)
      margin 50px auto 90px auto
    .btn
      margin 0 auto
  &-details
    display grid
    grid-gap 15px
    justify-items flex-start
    justify-content center
    +from-width($sm)
      grid-template-columns 1fr 1fr
      grid-gap 30px
    +from-width($md)
      grid-template-columns 475px 475px
