.Footer
  &-figure
    display none
    +from-width($md)
      display block
      user-select none
      align-self flex-start
  &-top
    padding 20px
    display grid
    align-items center
    grid-template-columns 1fr
    grid-gap 15px
    +from-width($xs)
      grid-template-columns 1fr 1fr
    +from-width($sm)
      grid-template-columns 1fr 1fr 1fr
    +from-width($md)
      padding 40px 0
      grid-gap 30px
      grid-template-columns 1fr 1fr 1fr 1fr
    &-list
      display grid
      grid-gap 1em
      align-self flex-start
      &-title
        font-weight bold
        line-height 1.05
        color $dark-blue
        user-select none
      &-element
        color $dark-gray
        text-decoration none
        transition all 150ms ease
        user-select none
        &:hover
          color $green
          cursor pointer
  &-bottom
    display none
    +from-width($md)
      background-color #FFF
      padding 40px 0
      display block
    &-content
      display grid
      align-items center
      +from-width($md)
        grid-template-columns 6fr 2fr 4fr
      &-element
        line-height 1.05
        color $dark-gray
        text-decoration none
        transition all 150ms ease
        user-select none
        padding 1em 5px
        +from-width($md)
          font-size 1em
          padding 1em 13px
        &:hover
          color $green
          cursor pointer
      &-copy
        line-height 1.05
        color $dark-gray
        padding 1em 5px
        user-select none
        +from-width($md)
          font-size 1em
          padding 1em 13px
        &:hover
          cursor default
