.HowToStake
  padding 35px 0
  +from-width($sm)
    padding 70px 0
  &-main
    display grid
    grid-gap 1em
    margin-top 2em
    +from-width($md)
      grid-template-columns 1fr 1fr
  &-anchor
    align-self center
    justify-self center
    .btn
      margin 0 auto
    &-text
      margin-bottom 1em
      text-align center
      line-height 1.52
      color $dark-gray

