@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Sunflower:300,500,700);html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
  filter: alpha(opacity=54);
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f6f6;
  font-size: 1em;
}
figure {
  margin: 0;
}
p {
  margin: 0;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1em;
}
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1140px;
  }
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.btn {
  border-radius: 8px;
  padding: 0.75em 2em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  line-height: 1.41;
  color: #fff;
  text-decoration: none;
  max-width: max-content;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  transition: all 150ms ease;
}
.btn:hover {
  -webkit-box-shadow: 0.5em 0.5em 10px 0px rgba(226,226,226,0.58);
  box-shadow: 0.5em 0.5em 10px 0px rgba(226,226,226,0.58);
}
.btn-blue {
  background-color: #163f59;
}
.btn-green {
  background-color: #34c88a;
}
.btn-transparent-green {
  border: solid 1px #34c88a;
  color: #34c88a;
  background-color: transparent;
}
.btn-transparent-green:hover {
  color: #fff;
  background-color: #34c88a;
}
.square {
  border-radius: 8px;
  -webkit-box-shadow: 0 0 14px 0 rgba(198,202,206,0.3);
  box-shadow: 0 0 14px 0 rgba(198,202,206,0.3);
  background-color: #fff;
}
.Header {
  background: #fff;
  padding: 1em;
}
.Header-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .Header-logo-mobile {
    display: none;
  }
}
.Header-logo-desktop {
  display: none;
}
@media only screen and (min-width: 768px) {
  .Header-logo-desktop {
    display: block;
  }
}
.Header-menu-content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
@media only screen and (min-width: 992px) {
  .Header-menu-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
.Header-menu-content-target {
  line-height: 1.05;
  color: #868d95;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  transition: all 150ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1em 5px;
}
@media only screen and (min-width: 992px) {
  .Header-menu-content-target {
    font-size: 1em;
    padding: 1em 13px;
  }
}
.Header-menu-content-target:hover {
  color: #34c88a;
  cursor: pointer;
}
.LangSelector {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.LangSelector:hover {
  cursor: pointer;
}
.LangSelector-selected {
  line-height: 1.05;
  color: #868d95;
  padding: 1em 13px;
  text-transform: capitalize;
}
.LangSelector-list {
  position: absolute;
  top: 3em;
  left: 1.5em;
  background: #fff;
  color: #868d95;
  border-radius: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 2px 3px 4px 3px rgba(226,226,226,0.58);
  box-shadow: 2px 3px 4px 3px rgba(226,226,226,0.58);
  z-index: 1;
}
.LangSelector-list-elem-anchor {
  padding: 0.5em 1em;
  display: block;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  transition: all 150ms ease;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  min-width: max-content;
  text-transform: capitalize;
  text-decoration: none;
  color: #868d95;
}
.LangSelector-list-elem-anchor:hover {
  background: #f2f6f6;
}
.LangSelector-flag {
  margin-right: 0.5em;
  width: 20px;
}
.Hero {
  background: #fff;
  padding: 25px 0;
}
@media only screen and (min-width: 768px) {
  .Hero {
    padding: 45px 0;
  }
}
@media only screen and (min-width: 992px) {
  .Hero {
    padding: 180px 0;
  }
}
.Hero-content {
  display: grid;
}
@media only screen and (min-width: 768px) {
  .Hero-content {
    grid-template-columns: 1.5fr 2fr;
  }
}
.Hero-content-left-title {
  margin: 0;
  font-size: 22px;
  font-family: 'Sunflower', sans-serif;
  color: #163f59;
}
@media only screen and (min-width: 992px) {
  .Hero-content-left-title {
    font-size: 44px;
  }
}
.Hero-content-left-description {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.65;
  color: #868d95;
  font-size: 15px;
}
@media only screen and (min-width: 768px) {
  .Hero-content-left-description {
    margin-top: 41px;
    margin-bottom: 34px;
  }
}
.Hero-content-right {
  display: none;
}
@media only screen and (min-width: 768px) {
  .Hero-content-right {
    display: block;
    position: relative;
  }
}
.Hero-content-right-figure {
  position: absolute;
  top: -45px;
  width: 100%;
  z-index: 0;
}
@media only screen and (min-width: 992px) {
  .Hero-content-right-figure {
    top: auto;
    bottom: -100px;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .InfoContent {
    margin-top: -50px;
  }
}
.InfoContent-content {
  display: grid;
  grid-gap: 15px;
}
@media only screen and (min-width: 992px) {
  .InfoContent-content {
    grid-gap: 30px;
  }
}
.InfoContent-content-top {
  display: grid;
  grid-gap: 15px;
  justify-items: center;
}
@media only screen and (min-width: 992px) {
  .InfoContent-content-top {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
.InfoContent-content-top-element {
  padding: 30px;
}
.InfoContent-content-top-figure {
  width: 50px;
}
@media only screen and (min-width: 992px) {
  .InfoContent-content-top-figure {
    width: 70px;
  }
}
.InfoContent-content-top-figure img {
  width: 100%;
}
.InfoContent-content-top-title {
  font-size: 22px;
  font-weight: 500;
  color: #163f59;
  margin: 22px 0 0 0;
}
@media only screen and (min-width: 992px) {
  .InfoContent-content-top-title {
    font-size: 26px;
    max-width: 80%;
  }
}
.InfoContent-content-top-text {
  line-height: 1.64;
  color: #868d95;
  margin: 9px 0;
}
@media only screen and (min-width: 992px) {
  .InfoContent-content-top-text {
    margin: 19px 0;
  }
}
.InfoContent-content-top-anchor {
  color: #34c88a;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.InfoContent-content-top-anchor .fa-arrow-right {
  margin-right: 0.5em;
}
.InfoContent-content-bottom {
  display: grid;
  grid-gap: 15px;
  justify-items: center;
}
@media only screen and (min-width: 992px) {
  .InfoContent-content-bottom {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}
.InfoContent-content-bottom-element {
  padding: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.InfoContent-content-bottom-title {
  font-size: 18px;
  font-weight: 500;
  color: #163f59;
}
@media only screen and (min-width: 992px) {
  .InfoContent-content-bottom-title {
    font-size: 20px;
  }
}
.InfoContent-content-bottom-text {
  line-height: 1.64;
  color: #868d95;
  margin: 0.5em 0;
}
.SectionHeading-title {
  font-size: 24px;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .SectionHeading-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.05;
    color: #163f59;
  }
}
.SectionHeading-title.is-subtitle {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .SectionHeading-title.is-subtitle {
    font-size: 25px;
  }
}
.SectionHeading-divider {
  width: 40px;
  border-color: #34c88a;
  margin: 23px auto;
  border-style: solid;
}
.SectionHeading-text {
  text-align: center;
  line-height: 1.52;
  color: #868d95;
}
.RoadmapElement {
  padding: 1em 0;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .RoadmapElement {
    padding: 1em 3em;
    border-left: solid 2px #c6cace;
  }
}
@media only screen and (min-width: 768px) {
  .RoadmapElement:before {
    position: absolute;
    content: '';
    width: 10px;
    left: 0;
    top: 0;
    height: 2px;
    background-color: #c6cace;
  }
}
.RoadmapElement-container {
  margin: 32px 0;
}
.RoadmapElement-figure {
  position: absolute;
  width: 37px;
  top: 40px;
  left: -20px;
}
@media only screen and (min-width: 768px) {
  .RoadmapElement-figure {
    width: 76px;
    top: -50px;
    left: 0;
  }
}
.RoadmapElement-figure img {
  width: 100%;
}
.RoadmapElement-title {
  font-size: 24px;
  line-height: 1.52;
  color: #ff876c;
  margin: 2em 1em 0 1em;
}
.RoadmapElement-container {
  list-style-type: none;
}
.RoadmapElement-container li {
  position: relative;
}
.RoadmapElement-container li:before {
  content: '\25AA';
  color: #ff876c;
  position: absolute;
  left: -1em;
}
.RoadmapElement-text {
  color: #163f59;
  line-height: 1.64;
  padding: 0.5em 0;
}
@media only screen and (min-width: 768px) {
  .RoadmapElement.happened {
    border-left: solid 2px #34c88a;
  }
}
.RoadmapElement.happened:before {
  background-color: #34c88a;
}
.RoadmapElement.happened .RoadmapElement-container li {
  position: relative;
}
.RoadmapElement.happened .RoadmapElement-container li:before {
  color: #34c88a;
}
.RoadmapElement.happened .RoadmapElement-title {
  color: #34c88a;
}
@media only screen and (min-width: 768px) {
  .RoadmapElement.happened .RoadmapElement-figure {
    top: -38px;
  }
}
.RoadmapElement.happened .RoadmapElement-text {
  color: #868d95;
}
.RoadmapElement.happened .RoadmapElement-subcontainer {
  list-style-type: none;
  margin-top: 1em;
}
.RoadmapElement.happened .RoadmapElement-subcontainer li {
  position: relative;
}
.RoadmapElement.happened .RoadmapElement-subcontainer li:before {
  content: '-';
  color: #34c88a;
  position: absolute;
  left: -1em;
}
.Roadmap {
  padding: 40px;
}
@media only screen and (min-width: 768px) {
  .Roadmap {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 768px) {
  .Roadmap-content {
    display: grid;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    grid-template-columns: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .Roadmap-content {
    grid-template-columns: 70%;
  }
}
.Roadmap-content-list {
  margin: 50px 0;
}
@media only screen and (min-width: 768px) {
  .Roadmap-content-list {
    margin: 70px 0;
  }
}
.Roadmap-content-list-future {
  padding: 1em 3em;
  display: grid;
  grid-gap: 2em;
}
@media only screen and (min-width: 768px) {
  .Roadmap-content-list-future {
    grid-template-columns: 1fr 1fr;
    border-bottom: solid 2px #c6cace;
    border-left: solid 2px #c6cace;
    padding: 1em 5em;
  }
}
.Roadmap-content-list-future-elem {
  display: grid;
  grid-gap: 0.5em;
}
@media only screen and (min-width: 768px) {
  .Roadmap-content-list-future-elem {
    grid-template-columns: 1fr 2fr;
  }
}
.Roadmap-content-list-future-title {
  margin: 0;
  font-size: 24px;
  color: #ff876c;
}
.Roadmap-content-list-future-text {
  color: #163f59;
  line-height: 1.64;
  padding: 0.5em 0;
}
.SingleWallet {
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
@media only screen and (min-width: 768px) {
  .SingleWallet {
    padding: 30px;
  }
}
.SingleWallet-title {
  font-size: 18px;
  color: #163f59;
  font-weight: 500;
  margin: 10px 0;
}
@media only screen and (min-width: 768px) {
  .SingleWallet-title {
    font-size: 20px;
    margin: 20px 0;
  }
}
.SingleWallet-list {
  display: grid;
  grid-gap: 15px;
}
.SingleWallet-list .btn {
  max-width: inherit;
}
.WalletsContent {
  background-color: #fff;
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .WalletsContent {
    padding: 80px 0;
  }
}
.WalletsContent-list {
  display: grid;
  grid-gap: 15px;
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  .WalletsContent-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .WalletsContent-list {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}
.ExchangeList {
  margin-top: 50px;
}
@media only screen and (min-width: 992px) {
  .ExchangeList {
    margin-top: 100px;
  }
}
.ExchangeList-text {
  line-height: 1.64;
  color: #fff;
  text-align: center;
}
.ExchangeList-content {
  display: grid;
  grid-gap: 1em;
  margin-top: 1em;
}
@media only screen and (min-width: 992px) {
  .ExchangeList-content {
    margin-top: 3em;
    grid-template-columns: repeat(6, 1fr);
  }
}
.ExchangeList-content-figure {
  justify-self: center;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  max-width: 150px;
}
.ExchangeList-content-figure img {
  width: 100%;
}
.ExchangeList-content-soon {
  font-size: 14px;
  line-height: 1.64;
  color: #fff;
}
.MarketStatus {
  background-color: #34c88a;
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .MarketStatus {
    padding: 80px 0;
  }
}
.MarketStatus .SectionHeading-title {
  color: #163f59;
}
.MarketStatus .SectionHeading-text {
  color: #c0f5df;
}
.MarketStatus .SectionHeading-divider {
  border-color: #c0f5df;
}
.MarketStatus-pricing {
  display: grid;
  justify-items: center;
  margin-top: 25px;
}
@media only screen and (min-width: 992px) {
  .MarketStatus-pricing {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.MarketStatus-pricing-element {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 0.5em;
}
.MarketStatus-pricing-element-icon {
  justify-self: center;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  font-size: 20px;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .MarketStatus-pricing-element-icon {
    font-size: 30px;
  }
}
.MarketStatus-pricing-element-details {
  display: grid;
  grid-gap: 0.5em;
}
.MarketStatus-pricing-element-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .MarketStatus-pricing-element-title {
    font-size: 20px;
  }
}
.MarketStatus-pricing-element-dollarPrice {
  line-height: 1.05;
  color: #163f59;
  font-size: 22px;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .MarketStatus-pricing-element-dollarPrice {
    font-size: 44px;
  }
}
.MarketStatus-pricing-element-symbol {
  line-height: 1.05;
  color: #c0f5df;
  font-size: 22px;
}
@media only screen and (min-width: 768px) {
  .MarketStatus-pricing-element-symbol {
    font-size: 44px;
  }
}
.MarketStatus-pricing-element-btcPrice {
  color: #c0f5df;
  line-height: 1.64;
}
@media only screen and (min-width: 768px) {
  .MiningElement {
    padding: 0 2em;
  }
}
@media only screen and (min-width: 992px) {
  .MiningElement {
    padding: 0 3em;
  }
}
.MiningElement-title {
  font-size: 20px;
  color: #163f59;
  margin: 0;
}
.MiningElement-content,
.MiningElement-description {
  font-size: 20px;
  line-height: 1.05;
}
@media only screen and (min-width: 992px) {
  .MiningElement-content,
  .MiningElement-description {
    font-size: 32px;
  }
}
.MiningElement-content {
  color: #ff876c;
  margin: 8px 0;
}
.MiningElement-description {
  color: #868d95;
  font-weight: 400;
  margin: 0;
}
.Mining {
  background-color: #fff;
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .Mining {
    padding: 80px 0 50px 0;
  }
}
.Mining-cta {
  margin: 25px auto 45px auto;
}
@media only screen and (min-width: 992px) {
  .Mining-cta {
    margin: 50px auto 90px auto;
  }
}
.Mining-cta .btn {
  margin: 0 auto;
}
.Mining-details {
  display: grid;
  grid-gap: 15px;
  justify-items: flex-start;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .Mining-details {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .Mining-details {
    grid-template-columns: 475px 475px;
  }
}
.MiningPools {
  padding: 40px 0;
  background-color: #f2f6f6;
}
@media only screen and (min-width: 768px) {
  .MiningPools {
    padding: 80px 0;
  }
}
.MiningPools-list {
  display: grid;
  grid-gap: 15px;
  margin-top: 20px;
  margin-bottom: 45px;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
}
@media only screen and (min-width: 768px) {
  .MiningPools-list {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 90px;
  }
}
@media only screen and (min-width: 992px) {
  .MiningPools-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .MiningPools-list {
    padding: 0 1em;
    grid-template-columns: repeat(5, 1fr);
  }
}
.MiningPools-list .btn {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.75em 0;
}
.MiningPools-explorers {
  display: grid;
  justify-items: center;
  grid-gap: 15px;
  padding: 1em;
}
@media only screen and (min-width: 992px) {
  .MiningPools-explorers {
    grid-template-columns: repeat(3, 1fr);
  }
}
.MiningPools-explorers .btn {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.75em 0;
}
.Team {
  padding: 40px;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .Team {
    padding: 80px 0;
  }
}
.Team-list {
  display: grid;
  grid-gap: 15px;
  margin-top: 45px;
}
@media only screen and (min-width: 768px) {
  .Team-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .Team-list {
    margin-top: 90px;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }
}
.TeamMember {
  display: grid;
  justify-items: center;
  grid-gap: 20px;
}
.TeamMember-avatar {
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 100%;
}
.TeamMember-avatar img {
  width: 100%;
}
.TeamMember-name {
  margin: 0;
  font-size: 20px;
  color: #163f59;
}
.TeamMember-position {
  margin: 0;
  color: #868d95;
  font-size: 14px;
  line-height: 1.64;
  font-weight: normal;
}
.TeamMember-bio {
  text-align: center;
  color: #868d95;
  line-height: 1.64;
  font-weight: normal;
}
.TeamMember-social {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.TeamMember-social-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #868d95;
  width: 28px;
  height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
  border: solid 1px #868d95;
  border-radius: 100%;
  font-size: 14px;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  transition: all 150ms ease;
  margin: 0 4px;
}
.TeamMember-social-item:hover {
  color: #fff;
  background-color: #868d95;
}
.Blog {
  padding: 40px;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .Blog {
    padding: 80px 0;
  }
}
.Blog-title {
  text-align: center;
  color: #163f59;
  line-height: 1.05;
  font-size: 24px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .Blog-title {
    font-size: 36px;
  }
}
.Blog-list {
  display: grid;
  grid-gap: 15px;
  justify-items: center;
}
@media only screen and (min-width: 992px) {
  .Blog-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.BlogPost {
  width: 100%;
  overflow: hidden;
}
.BlogPost-cover {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 200px;
}
.BlogPost-info {
  padding: 30px;
  display: grid;
}
.BlogPost-info-title {
  margin: 0;
  color: #163f59;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (min-width: 992px) {
  .BlogPost-info-title {
    font-size: 22px;
  }
}
.BlogPost-info-date {
  margin: 0.5em 0;
  color: #868d95;
  font-size: 14px;
  display: block;
}
.BlogPost-info-description {
  line-height: 1.64;
  color: #868d95;
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  .BlogPost-info-description {
    margin-bottom: 30px;
  }
}
.BlogPost-info-link {
  color: #34c88a;
  line-height: 1.52;
  text-decoration: none;
}
.BlogPost-info-link .fa-long-arrow-alt-right {
  margin-left: 0.5em;
}
